{% extends 'base.html' %}
{% load static %}
{% block title %} Daily Tasks | Change Password {% endblock %} {% block heading %} Password Change  {% endblock %}
{% block left_content %}
<div class="card">
    <h3 class="card-title text-center bg-info">Welcome {{request.user}}!</h3>
    <div style="display: flex;
                                align-content: center;
                                justify-content: center;
                                align-items: center;">
        <p class="card-body">
            Please chage your default password so that your data will be secured ...!<br/>
<!--            <span style="display: block;text-align:center;font-weight:900;margin-top:15px;">{{date}}</span></p>-->
    </div>


</div>
{% endblock %}
{% block content %}
<!--<h2 class="text-center bg-warning">LogIn</h2>-->
<form class="form mx-5" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Your New Password">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Your Password">
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-4">Change Password</button>
</form>


{% endblock %}
