<table class="table table-hover border border-secondary border-3 px-3">
        <thead>
        <tr class="text-center">
            <th class="bg-dark text-light">S.No</th>
            {% if request.path == '/tickets_list/' %}
            <th class="bg-dark text-light">Stream</th>
            <th class="bg-dark text-light">User</th>
            {% endif %}
            <th class="bg-dark text-light w-25">Title</th>
            <th class="bg-dark text-light">Status</th>
            <th class="bg-dark text-light">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            {% if request.path == '/tickets_list/' %}
            <td class="text-center">{{ticket.user.stream.name}}</td>
            <td>{{ticket.user.user.username}}</td>
            {% endif %}
            <td>{{ticket.title}}</td>
            <td>{{ticket.status}}</td>
            <td class="text-center">

                <button
                        type="button"
                        class="btn btn-warning btn-sm text-center mx-2"
                        onclick="details({{ticket.id}}, 'update')"
                >
                    Update
                </button>
                <button
                        type="button"
                        class="btn btn-danger btn-sm text-center"
                        onclick="details({{ticket.id}}, 'delete')"
                >
                    Delete
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
